//COLORS
$appBackgroundColor: #e9ebee;
$foregroundColor: #ffffff;
$infoColor: #acacac;
$primaryColor: #205f8a;
$mainColor: #424242;
$errorColor: #EF5350;
$borderColor: #DDDDDD;
$borderColor2: #eeeeee;


//LAYOUT
$headerHeight: 64px;

//FONTS
$f18: 18px;
$f16: 16px;
$f14: 14px;
$f12: 12px;
$f11: 11px;



//FONT COLORS

