@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

:host{
    background-color: $appBackgroundColor
}

.container{
    padding: 50px 0px;
    width: 100%;
    @include calc( height, '100vh - #{$headerHeight}');
}